@font-face {
  font-family: "Graphik";
  src: url("./GraphikBold/GraphikRegular.otf") format("otf");
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./GraphikBold/Graphik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./GraphikBold/GraphikSemibold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Graphik Super";
  src: url("./GraphikBold/GraphikSuper.otf") format("otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./GraphikBold/GraphikBold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
