/* importing font */
@import url("./font/font.css");
@import url("./font/t.css");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&family=Rubik+Iso&display=swap");

/* Resetting the default values! */
* {
  margin: 0px;
  padding: 0px;
  /* max-width: 1384px; */
  max-width: 100%;

  box-sizing: border-box;
}
body {
  width: 100%;
  margin: auto;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "graphik";
  word-spacing: 2px;
  letter-spacing: 1px;
}

ul,
li {
  margin: 0;
  list-style: none;
}

a:focus {
  outline: 1px dotted #000;
}

*:active,
*:focus-visible {
  outline: none;
}

.p {
  font-weight: normal;

  letter-spacing: 1.2px;
  font: normal normal bold 38px/44px Graphik;
  color: #5d5d6e;
}

h2 {
  text-align: left;

  letter-spacing: 1.2px;
  color: #5d5d6e;
  opacity: 1;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav bar */
nav {
  max-width: 1384px;
  margin: auto;
}
.site-navbar,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-navbar {
  padding: 0 clamp(6px, 1.156vw, 16px);
}

.site-navbar > ul {
  column-gap: clamp(8px, 4.33vw, 60px);
}

.site-navbar ul li > a {
  font: normal normal 600 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #4a4a4a;
  opacity: 1;
}
.site_logo {
  width: clamp(135px, 16.97vw, 235px);
  height: clamp(40px, 4.55vh, 63px);
}

.demo_btn {
  width: clamp(108px, 9.1vw, 126px);
  height: clamp(34px, 2.6vh, 36px);
  background: #0537ac 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #00000029;
  border-radius: 9px;
  opacity: 1;
  font: normal normal 600 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
}

/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  /* background-color: transparent; */
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 4px;
  background-color: #170909;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #170909;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .site-navbar {
    max-width: 720px;
  }
  .demo_btn {
    display: none;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #444;
    background-color: #000000;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }

  /* navbar css for mobile end */
}
/* mobile breakpoint end */

/* mobile breakpoint end */
/* 

- - -
-

-
-
--
-
)







*/

/* Hero section  Start */
/* .polygon{
  width: 1201px;
height: 1147px;
transform: matrix(-0.89, 0.45, -0.45, -0.89, 0, 0);
/* UI Properties  
background: transparent linear-gradient(120deg, #0C4CF7 0%, #4AA0FC 100%) 0% 0% no-repeat padding-box;
opacity: 0.79;
} */

/* .u{
  float: right;
  width: 250px;
  height: 160px;
  shape-outside: polygon(0 0, 100% 50%, 0 100%);
  background-color: #0537ac;
} */
._head_banner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
._vector {
  width: 562px;
  /* height: 1150px; */
  height: clamp(313px, 83.83vh, 1150px);

  border: 2px solid red;
}

._heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  max-width: 562px;
  border: 2px solid black;
  margin-top: clamp(0px, 10.83vw, 150px);
  /* margin-top: 150px; */
}
._heading > h1 {
  width: clamp(277px, 38vw, 526px);
  text-align: left;
  font-size: clamp(20px, 2.74vw, 38px);
  line-height: clamp(20px, 3.179vw, 44px);
  font-family: "graphik";
  letter-spacing: 1.14px;
  color: #363636;
  opacity: 1;
  margin-bottom: clamp(22px, 2.89vw, 40px);
}

._heading > h3 {
  width: clamp(305px, 40.67vw, 563px);

  /* UI Properties */
  text-align: left;

  font-size: clamp(13px, 2.31vw, 32px);
  line-height: clamp(22px, 2.3vw, 33px);
  font-family: "graphik";
  letter-spacing: 1.2px;
  color: #5d5d6e;
  margin-bottom: clamp(0px, 1.58vw, 22px);
}

._hero_btn {
  display: flex;
  column-gap: clamp(15px, 1.58vw, 22px);
  max-width: 340px;
  flex-wrap: wrap;
}

.start_btn {
  width: clamp(108px, 11.416vw, 158px);
  height: clamp(34px, 3.5vh, 49px);
  /* UI Properties */
  background: #ffa200 0% 0% no-repeat padding-box;
  border-radius: 8px;
  text-align: center;
  font-size: clamp(10px, 1.08vw, 15px);
  line-height: clamp(13px, 1.44vh, 20px);
  font-family: "roboto";
  letter-spacing: 0.54px;
  color: #ffffff;
}
.contact_btn {
  width: clamp(108px, 11.416vw, 158px);
  height: clamp(34px, 3.5vh, 49px);
  border: 2px solid #ffa200;
  border-radius: 8px;
  text-align: center;

  font-size: clamp(10px, 1.08vw, 15px);
  line-height: clamp(13px, 1.44vh, 20px);
  font-family: "roboto";
  letter-spacing: 0.54px;
  color: #ffa200;
}

/* Hero section  end */

/* know section  staRT */

._know {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 2rem;
  position: relative;
}
._know_heading_wrapper {
  border-left: 5px solid #4aa0fc;
  padding-left: clamp(4.5px, 0.722vw, 10px);
  height: 86px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: no-repeat padding-box;
}

._know_heading_wrapper h6 {
  float: left;

  font-size: clamp(15px, 0.505vw, 7px);
  line-height: clamp(43px, 1.44vh, 20px);
  font-family: "graphik";
  font-weight: 600;

  letter-spacing: 0.21px;
  color: #717171;
  text-transform: uppercase;
}

._know_heading_wrapper > h2 {
  font-size: clamp(13px, 2.31vw, 32px);
  line-height: clamp(22px, 2.67vw, 37px);

  font-family: "graphik";
  max-width: 491px;
  font-weight: 600;
  letter-spacing: 0.96px;
  color: #363636;
}

._know_left div > p {
  text-align: left;
  max-width: 605px;
  font-family: "graphik";
  font-weight: 400;
  font-size: clamp(14px, 1.734vw, 24px);
  line-height: clamp(22px, 2.45vw, 34px);
  letter-spacing: 1.49px;
  color: #5d5d6e;
  padding-left: clamp(4.5px, 0.722vw, 10px);
  margin-top: 2rem;
}

._know_right {
  padding: 1.5rem;
  background-color: #f7f7f7;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  border-radius: 50%;
  position: relative;
  margin-right: -9rem;
}
.bg_img_cont img {
  /* background-image: url(../assets/know1.jpg); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* width: 291px; */
  width: clamp(291px, 42.84vw, 588px);
  height: clamp(291px, 42.84vw, 588px);

  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 580px; */
  border-radius: 50%;
  right: -2rem;
}
._stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(14.2px, 2.3vw, 32px) clamp(23px, 3.39vw, 47px);

  width: clamp(298px, 42.84vw, 593px);
  /* height: 157px; */

  /* width: 298px; */
  /* height: 79px; */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #00000029;
  border-radius: 14px;
  /* column-gap: ; */
  position: absolute;
  /* top: -2rem; */
  bottom: 2rem;
  right: 14rem;
}

._stats_container > h3 {
  text-align: left;

  font-family: "graphik";
  margin-top: clamp(14px, 1.58vw, 22px);
  margin-bottom: clamp(7.5px, 1.58vw, 15px);
  font-weight: 500;
  font-size: clamp(11px, 1.58vw, 22px);
  line-height: clamp(12px, 1.8vh, 24px);
  letter-spacing: 1.36px;
  color: #3f3f3f;
}

._stats_container > h6 {
  text-align: left;
  font: normal normal normal 12px/23px Graphik;
  font-weight: 400;
  font-size: clamp(6px, 1vw, 12px);
  line-height: clamp(12px, 1.58vh, 23px);
  letter-spacing: 0.74px;
  color: #5d5d6e;
}
._stats > div + div {
  border-right: 2px solid #5d5d6e;
  border-left: 2px solid #5d5d6e;
}

._stats_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px clamp(12px, 1.8vw, 2rem);
}
/* know section  END */

/* demo section start */
._demo {
  width: 100%;

  margin: auto;
  background: #468fec 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-top: 67px;
  padding-bottom: 55px;
}

._demo > h2 {
  text-align: center;
  font: normal normal bold 27px/54px Roboto;
  letter-spacing: 1.08px;
  color: #ffffff;
  margin-bottom: 22px;
}

._demo > p {
  max-width: 940px;
  text-align: center;
  margin: auto;
  /* font: normal normal normal 22px/27px Roboto; */
  font-family: "roboto";
  font-size: clamp(13px, 1.58vw, 22px);
  line-height: clamp(22px, 1.95vh, 27px);

  letter-spacing: clamp(0.65px, 0.063vw, 0.88px);
  color: #ffffff;
  padding-bottom: 11px;
}

._demo > button {
  width: clamp(108px, 11.99vw, 166px);
  height: clamp(36px, 6vh, 49px);
  background: #ffc500 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font: normal normal bold 13px/53px Roboto;
  letter-spacing: 0.52px;
  color: #ffffff;
  margin: auto;
}
/* demo section end */

/* benefit's section start */

._benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 74px;
}

._benefits > h2 {
  text-align: center;
  font: normal normal 600 22px/34px Graphik;
  letter-spacing: 0.66px;
  text-transform: uppercase;
}

._benefits_list {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
/* ._benefits_list div > img {
  width: 247px;
  height: 165px;
} */

._expert {
  width: 210px;
  height: 160px;
}

._me {
  width: 210px;
  height: 160px;
}

._support {
  width: 180px;
  height: 160px;
}

._trust {
  width: 210px;
  height: 160px;
}

._benefits_list div > h3 {
  text-align: center;
  margin-top: 22px;
  font: normal normal medium 17px/27px Graphik;
  letter-spacing: 0.51px;
  color: #3f3f3f;
}

/* benefit's section end */

/* ------investor section start--------- */
._investor {
  width: 100%;
  padding-bottom: clamp(50px, 8.6vw, 120px);
  border: 2px solid red;
}
._investor > h2,
._mentor > h2 {
  font-size: clamp(13px, 1.1vw, 22px);
  line-height: clamp(22px, 2.45vw, 34px);
  font-family: "graphik";
  letter-spacing: 1.2px;
  color: #5d5d6e;
  margin-bottom: clamp(10px, 2.89vw, 40px);
  text-align: center;
  letter-spacing: 0.66px;
  color: #363636;
  text-transform: uppercase;
}
._investor > h2 > span,
._mentor > h2 > span {
  color: #4aa0fc;
}
._investor_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 55px;
  row-gap: 55px;
}

._investor_img {
  width: 257px;
  height: 72px;
  border: 2px solid grey;
  border-radius: 5px;
}

/* ------investor section end--------- */

/*----------3 steps to get Worlds most visible platform  start*/

._steps {
  width: 100%;
  background: #fdfbf9 0% 0% no-repeat padding-box;
  padding-top: 60px;
}

._steps > div {
  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: 35px;
  flex-flow: wrap;
  row-gap: 5rem;
}

._steps > h2 {
  /* font: normal normal 600 26px/34px Graphik; */
  letter-spacing: 0.78px;
  color: #363636;
  max-width: 23rem;
  font-weight: 600;
  font-size: clamp(16px, 2.1vw, 26px);
  line-height: clamp(22px, 2.45vw, 34px);
  font-family: "graphik";
  margin: auto;
  text-align: center;
  color: #363636;

  /* text-transform: uppercase; */
}
/* clamp(10px, 5.33vw, 70px) */
._steps > hr {
  max-width: 412px;
  height: 4px;

  margin: 11px auto 70px;
  background: #4aa0fc 0% 0% no-repeat padding-box;
}

._side_card {
  width: clamp(280px, 25.86vw, 358px);
  height: clamp(380px, 49.381vh, 462px);
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 14px #00000021;
  border-radius: 21px;
  position: relative;
  padding: clamp(50px, 4.22vw, 100px) clamp(20px, 2.67vw, 37px);

  text-align: center;
}

._side_card > h4 {
  text-align: center;
  font-weight: 600;
  font-family: "graphik";
  font-size: clamp(14px, 1.1vw, 19px);
  line-height: clamp(22px, 2.45vw, 34px);
  letter-spacing: 0.57px;
  color: #363636;
  margin-bottom: 40px;
  font-weight: 600;
}

._side_card > p {
  max-width: 283px;
  text-align: center;

  font-weight: normal;
  font-family: "graphik";
  font-size: clamp(12px, 1.156vw, 16px);
  line-height: clamp(22px, 1.95vh, 27px);
  letter-spacing: 0.58px;
  color: #5d5d6e;
  font-weight: 500;
}

._steps_count {
  width: 83px;
  color: #ffffff;
  font-weight: 500;
  height: 81px;
  background: #ffa200 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 12px #00000029;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: -2%;
  transform: translate(-50%, -50%);
}

._steps_icon {
  width: clamp(67px, 6.28vw, 87px);
  height: clamp(67px, 6.28vw, 87px);
  font-size: clamp(38px, 3.46vw, 87px);
  background: #fff8eb 0% 0% no-repeat padding-box;
  border-radius: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  bottom: clamp(15px, 1.61vh, 50px);
  transform: translate(-50%, -50%);
}

._middle_card {
  width: clamp(300px, 28.25vw, 391px);
  height: clamp(430px, 36vh, 505px);
  position: relative;
  padding: clamp(50px, 4.22vw, 100px) clamp(20px, 2.67vw, 37px);

  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 14px #00000021;
  border-radius: 21px;
}

._steps_middle_count {
  width: 90px;
  color: #ffffff;
  font-weight: 500;
  height: 89px;
  background: #ffa200 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 12px #00000029;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: -2%;
  transform: translate(-50%, -50%);
  font-size: clamp(14px, 1.734vw, 24px);
  line-height: clamp(22px, 2.67vw, 37px);
  letter-spacing: 0.72px;
}

._middle_card > h4 {
  text-align: center;
  font-weight: 600;
  font-family: "graphik";
  font-size: clamp(14px, 1.734vw, 24px);
  line-height: clamp(22px, 2.67vw, 37px);
  letter-spacing: 0.72px;
  color: #363636;
  margin-bottom: 40px;
}

._middle_card > p {
  max-width: 100%;
  text-align: center;

  font-weight: normal;
  font-family: "graphik";
  font-size: clamp(12px, 1.156vw, 16px);
  line-height: clamp(22px, 1.95vh, 27px);
  letter-spacing: 0.58px;
  color: #5d5d6e;
  font-weight: 500;
}

/*----------3 steps to get Worlds most visible platform  end*/

/* ------mentor section start--------- */
._investor {
  width: 100%;
  padding-bottom: clamp(20px, 3.6vw, 50px);
  border: 2px solid red;
}

._mentor_img {
  width: 267px;
  height: 124px;
  border: 2px solid grey;
  border-radius: 5px;
}
._mentor_flex {
  display: flex;
  justify-content: center;
  column-gap: 70px;
  row-gap: 15px;
  flex-wrap: wrap;
}

/* ------mentor section end--------- */

/* ------ achievements & news start------- */

._achievements {
  width: 100%;
  margin: auto;
}

.div_wrapper {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

._achievements > h2 {
  text-align: center;
  font-weight: 600;
  font-size: clamp(13px, 1.1vw, 22px);
  line-height: clamp(22px, 2.45vw, 34px);
  letter-spacing: 0.66px;
  color: #363636;
  text-transform: uppercase;
  margin-bottom: 100px;
}
._achievements > h2 > span {
  color: #4aa0fc;
}
.div_1 {
  width: clamp(537px, 53.25vw 737px);
  height: clamp(320px, 33.81vh 468px);

  box-shadow: 0px 0px 14px #00000021;
  border-radius: 21px;
}

.div_1 > h3 {
  text-align: left;

  font: normal normal 600 19px/34px Graphik;
  letter-spacing: 0.57px;
  color: #363636;
}

.div_1 > p {
  text-align: left;
  font: normal normal normal 16px/22px Graphik;
  letter-spacing: 0.58px;
  color: #5d5d6e;
}
.div_1 img {
  width: clamp(537px, 53.25vw, 737px);
  height: clamp(268px, 26.58vh, 368px);
  box-shadow: 0px 0px 14px #00000021;
  border-radius: 21px;
}
._achievements_img img {
  width: 231px;
  height: 147px;
  background: transparent url("img/1669979048209.png") 0% 0% no-repeat
    padding-box;
  box-shadow: 0px 0px 14px #00000021;
  border-radius: 21px;
}

.div_3,
.div_2 {
  display: flex;
  row-gap: 15px;
  column-gap: 15px;
}

.div_2 {
  flex-direction: column;
}

/* ------ achievements & news end------- */

/* footer section start */
footer {
  width: 100%;
  /* background-color: #3f3f3f; */
  background: #003152 0% 0% no-repeat padding-box;
}
._footer {
  width: 1384px;
  margin: auto;
  height: auto;
  /* UI Properties */
  padding: clamp(35px, 3.6127vw, 50px) clamp(20px, 7.94vw, 110px);
}

._footer_data > div > hr {
  margin: 46px 0 37px;
  height: 0px;
  /* UI Properties */
  border: 1px solid #ffffff;
}
._footer_data,
._site_support,
._site_navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

._address,
.social_links,
.copywrite {
  display: flex;
  justify-content: space-between;
}

._address {
  column-gap: clamp(40px, 6.5vw, 89px);
  flex-wrap: wrap;
}
._address > ul,
._site_support > div {
  flex-direction: column;
  row-gap: clamp(16px, 2.67vw, 37px);
  justify-content: flex-start;
}

._address > ul > h3 {
  text-align: start;
  width: 149px;
  font-weight: 600;
  font-size: clamp(22px, 2.16vw, 30px);
  line-height: clamp(16px, 1.45vw, 20px);
  font-family: "graphik";
  letter-spacing: 1.08px;
  color: #ffffff;
}

._address > ul > h3 > span {
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: clamp(6px, 1vw, 12px);
  line-height: clamp(16px, 1.45vw, 20px);
  font-family: "graphik";
  letter-spacing: 0.43px;
  color: #d2d2d2;
}

._address > ul {
  max-width: 150px;
  margin-bottom: 1.5rem;
}
._address > ul > li {
  text-align: left;

  letter-spacing: 0.43px;
  color: #ffffff;
  font-weight: 500;
  font-size: clamp(6px, 1vw, 12px);
  line-height: clamp(16px, 1.45vw, 20px);
  font-family: "graphik";

  /* margin-bottom: clamp(10px, 2.89vw, 40px); */
}

._site_support {
  flex-direction: row;
  column-gap: clamp(20px, 3.25vw, 45px);
  row-gap: clamp(20px, 3.25vw, 45px);
}

._site_support > div > h6 {
  text-align: left;

  color: #d2d2d2;
  font-weight: 500;
  font-size: clamp(6px, 1vw, 11px);
  line-height: clamp(16px, 1.55vw, 22px);
  font-family: "graphik";
  letter-spacing: 0.4px;
}

._innerflex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fa-whatsapp,
.fa-regular {
  color: whitesmoke;
}
._innerflex > i {
  width: 22px;
  height: 22px;
  font-size: clamp(16px, 1.25vw, 25px);
  margin-right: clamp(4px, 1vw, 22px);
  display: flex;
  align-items: center;
}

._site_navigation {
  margin: clamp(16px, 4.33vw, 60px) 0;
}
._site_navigation > h4 > a {
  text-align: left;

  letter-spacing: 0.72px;
  color: #ffffff;

  font-weight: 500;

  font-size: clamp(14px, 1vw, 20px);
  line-height: clamp(16px, 1.1vw, 22px);
}

._innerflex > span {
  text-align: left;
  font: normal normal normal 13px/22px Graphik;
  font-size: clamp(8px, 1.25vw, 13px);
  line-height: clamp(16px, 1.55vw, 22px);
  font-family: "graphik";
  width: 164px;
  letter-spacing: 0.47px;
  color: #ffffff;
}

._footer_form {
  padding: 48px 22px 25px;
  width: 380px;
  /* height: 322px; */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 12px;
  margin: auto;
}

._footer_form form > input {
  width: 337px;
  height: 37px; /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 6px;
  font: normal normal medium 10px/22px Graphik;
  letter-spacing: 0.4px;
  color: #9c9c9c;
}

form > textarea {
  width: 337px;
  height: 120px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 6px;
}
form > label {
  font: normal normal medium 12px/22px Graphik;
  letter-spacing: 0.43px;
  color: #003152;
}
._footer_form form > button {
  width: 337px;
  height: 34px;
  background: #ff8e2b 0% 0% no-repeat padding-box;
  border-radius: 6px;
}

.social_links {
  margin-top: 84px;
}
.social_links > ul {
  max-width: 60px;
  column-gap: 1rem;
}

.social_links > ul > li > a {
  font-size: clamp(32px, 2.3vw, 58px);
  color: white;
}

.copywrite {
  /* max-width: 1164px;
  margin: auto; */
}

.copywrite > ul {
  column-gap: 56px;
  display: flex;
}
.copywrite > ul > li,
.copywrite > span {
  text-align: right;
  letter-spacing: 0.43px;
  color: #d2d2d2;
  font-weight: 400;
  font-size: clamp(6px, 1vw, 12px);
  line-height: clamp(16px, 1.65vw, 22px);
  font-family: "graphik";
}

.copywrite > span {
}

.Gplay > img {
  width: clamp(100px, 13.36vw, 185px);
  height: clamp(45px, 5.4vh, 75px);
  border-radius: 8px;
}

#mobile_flex {
  display: none !important;
}

/* footer section end */

@media screen and (max-width: 468px) {
  ._heading {
    margin-top: 0px;
  }
}

@media screen and (min-width: 468px) and (max-width: 768px) {
}

@media screen and (max-width: 768px) {
  /* hero */
  ._heading {
    /* margin-top: 50px; */
  }

  /* ----achievements start----- */
  section,
  ._head_banner {
    width: 100%;
    padding: 70px 35px;
    box-sizing: border-box;
  }
  #demo_section {
    padding-left: 0px;
    padding-right: 0px;
  }

  .div_2 {
    display: none !important;
  }
  .div_3 {
    width: 100%;

    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
  }

  /* ----achievements end----- */
}

@media screen and (max-width: 968px) {
  ._heading {
    width: 100%;
  }
  ._stats {
    left: 50%;
    right: 50%;
    transform: translate(-50%, -11px);
  }
  ._know_right {
    margin: auto;
  }
}

@media screen and (max-width: 1158px) {
  ._heading {
    /* margin-top: 100px; */
  }
}

@media screen and (max-width: 1348px) {
  ._heading {
    margin-top: 0px;
  }

  ._footer_data > div {
  }
  ._footer_contact,
  ._footer_data > div {
    width: 100%;
  }
  #desktop_flex {
    display: none !important;
  }
  #mobile_flex {
    display: block !important;
    margin-top: 2rem;
    display: flex !important;
    justify-content: flex-end !important;
  }
}

@media screen and (min-width: 1468px) {
}

/* special case */
