/* importing font */
@import url("./font/font.css");
@import url("./font/t.css");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&family=Rubik+Iso&display=swap");

/* Resetting the default values! */
* {
  margin: 0px;
  padding: 0px;
  max-width: 1384px;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "graphik";
  word-spacing: 2px;
  letter-spacing: 1px;
}

ul,
li {
  margin: 0;
  list-style: none;
}

a:focus {
  outline: 1px dotted #000;
}

*:active,
*:focus-visible {
  outline: none;
}

.p {
  font-weight: normal;

  letter-spacing: 1.2px;
  font: normal normal bold 38px/44px Graphik;
  color: #5d5d6e;
}

h2 {
  text-align: left;

  letter-spacing: 1.2px;
  color: #5d5d6e;
  opacity: 1;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav bar */
.site-navbar,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-navbar {
  padding: 0 clamp(6px, 1.156vw, 16px);
}

.site-navbar > ul {
  column-gap: clamp(8px, 4.33vw, 60px);
}

.site-navbar ul li > a {
  font: normal normal 600 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #4a4a4a;
  opacity: 1;
}
.site_logo {
  width: clamp(135px, 16.97vw, 235px);
  height: clamp(40px, 4.55vh, 63px);
}

.demo_btn {
  width: clamp(108px, 9.1vw, 126px);
  height: clamp(34px, 2.6vh, 36px);
  background: #0537ac 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #00000029;
  border-radius: 9px;
  opacity: 1;
  font: normal normal 600 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
}

/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  /* background-color: transparent; */
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 4px;
  background-color: #170909;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #170909;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .site-navbar {
    max-width: 720px;
  }
  .demo_btn {
    display: none;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #444;
    background-color: #000000;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }

  /* navbar css for mobile end */
}
/* mobile breakpoint end */

/* mobile breakpoint end */
/* 

- - -
-

-
-
--
-
)







*/

/* Hero section  Start */
/* .polygon{
  width: 1201px;
height: 1147px;
transform: matrix(-0.89, 0.45, -0.45, -0.89, 0, 0);
/* UI Properties  
background: transparent linear-gradient(120deg, #0C4CF7 0%, #4AA0FC 100%) 0% 0% no-repeat padding-box;
opacity: 0.79;
} */

/* .u{
  float: right;
  width: 250px;
  height: 160px;
  shape-outside: polygon(0 0, 100% 50%, 0 100%);
  background-color: #0537ac;
} */
._heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  max-width: 562px;
  border: 2px solid black;
}
._heading > h1 {
  width: clamp(277px, 38vw, 526px);
  text-align: left;
  font-size: clamp(20px, 2.74vw, 38px);
  line-height: clamp(20px, 3.179vw, 44px);
  font-family: "graphik";
  letter-spacing: 1.14px;
  color: #363636;
  opacity: 1;
  margin-bottom: clamp(22px, 2.89vw, 40px);
}

._heading > h3 {
  width: clamp(305px, 40.67vw, 563px);

  /* UI Properties */
  text-align: left;

  font-size: clamp(13px, 2.31vw, 32px);
  line-height: clamp(22px, 2.3vw, 33px);
  font-family: "graphik";
  letter-spacing: 1.2px;
  color: #5d5d6e;
  margin-bottom: clamp(0px, 1.58vw, 22px);
}

._hero_btn {
  display: flex;
  column-gap: clamp(15px, 1.58vw, 22px);
  max-width: 340px;
  flex-wrap: wrap;
}

.start_btn {
  width: clamp(108px, 11.416vw, 158px);
  height: clamp(34px, 3.5vh, 49px);
  /* UI Properties */
  background: #ffa200 0% 0% no-repeat padding-box;
  border-radius: 8px;
  text-align: center;
  font-size: clamp(10px, 1.08vw, 15px);
  line-height: clamp(13px, 1.44vh, 20px);
  font-family: "roboto";
  letter-spacing: 0.54px;
  color: #ffffff;
}
.contact_btn {
  width: clamp(108px, 11.416vw, 158px);
  height: clamp(34px, 3.5vh, 49px);
  border: 2px solid #ffa200;
  border-radius: 8px;
  text-align: center;

  font-size: clamp(10px, 1.08vw, 15px);
  line-height: clamp(13px, 1.44vh, 20px);
  font-family: "roboto";
  letter-spacing: 0.54px;
  color: #ffa200;
}

/* Hero section  end */

/* demo section start */
._demo {
  width: 100%;

  margin: auto;
  background: #468fec 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-top: 67px;
  padding-bottom: 55px;
}

._demo > h2 {
  text-align: center;
  font: normal normal bold 27px/54px Roboto;
  letter-spacing: 1.08px;
  color: #ffffff;
  margin-bottom: 22px;
}

._demo > p {
  max-width: 940px;
  text-align: center;
  margin: auto;
  /* font: normal normal normal 22px/27px Roboto; */
  font-family: "roboto";
  font-size: clamp(13px, 1.58vw, 22px);
  line-height: clamp(22px, 1.95vh, 27px);

  letter-spacing: clamp(0.65px, 0.063vw, 0.88px);
  color: #ffffff;
  padding-bottom: 11px;
}

._demo > button {
  width: clamp(108px, 11.99vw, 166px);
  height: clamp(36px, 6vh, 49px);
  background: #ffc500 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font: normal normal bold 13px/53px Roboto;
  letter-spacing: 0.52px;
  color: #ffffff;
  margin: auto;
}
/* demo section end */

/* benefit's section start */

._benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 74px;
}

._benefits > h2 {
  text-align: center;
  font: normal normal 600 22px/34px Graphik;
  letter-spacing: 0.66px;
  text-transform: uppercase;
}

._benefits_list {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
/* ._benefits_list div > img {
  width: 247px;
  height: 165px;
} */

._expert {
  width: 210px;
  height: 160px;
}

._me {
  width: 210px;
  height: 160px;
}

._support {
  width: 180px;
  height: 160px;
}

._trust {
  width: 210px;
  height: 160px;
}

._benefits_list div > h3 {
  text-align: center;
  margin-top: 22px;
  font: normal normal medium 17px/27px Graphik;
  letter-spacing: 0.51px;
  color: #3f3f3f;
}

/* benefit's section end */

/* ------investor section start--------- */
._investor {
  width: 100%;
  padding-bottom: clamp(50px, 8.6vw, 120px);
  border: 2px solid red;
}
._investor > h2,
._mentor > h2 {
  font-size: clamp(13px, 1.1vw, 22px);
  line-height: clamp(22px, 2.45vw, 34px);
  font-family: "graphik";
  letter-spacing: 1.2px;
  color: #5d5d6e;
  margin-bottom: clamp(10px, 2.89vw, 40px);
  text-align: center;
  letter-spacing: 0.66px;
  color: #363636;
  text-transform: uppercase;
}
._investor > h2 > span, ._mentor > h2 > span {
  color: #4aa0fc;
}
._investor_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 55px;
  row-gap: 55px;
}

._investor_img {
  width: 257px;
  height: 72px;
}

/* ------investor section end--------- */

/*----------3 steps to get Worlds most visible platform  start*/



._steps{
  width: 100%;
}

._steps >h2{
  text-align: center;
  font: normal normal 600 26px/34px Graphik;
  letter-spacing: 0.78px;
  color: #363636;


  font-size: clamp(13px, 1.1vw, 22px);
  line-height: clamp(22px, 2.45vw, 34px);
  font-family: "graphik";
  letter-spacing: 1.2px;
  color: #5d5d6e;
  margin-bottom: clamp(10px, 2.89vw, 40px);
  text-align: center;
  letter-spacing: 0.66px;
  color: #363636;
  text-transform: uppercase;
}





/*----------3 steps to get Worlds most visible platform  start*/

/* ------mentor section start--------- */
._investor {
  width: 100%;
  padding-bottom: clamp(20px, 3.6vw, 50px);
  border: 2px solid red;
}

._mentor_img {
  width: 267px;
  height: 124px;
}
._mentor_flex {
  display: flex;
  justify-content: center;
  column-gap: 70px;
  row-gap: 15px;
  flex-wrap: wrap;
}
/* ------mentor section end--------- */

/* ------ achievements & news------- */

._achievements {
}

.div_wrapper {
  display: flex;
  justify-content: space-between;
}

.div_1 {
  width: clamp(537px, 53.25vw 737px);
  height: clamp(320px, 33.81vh 468px);

  box-shadow: 0px 0px 14px #00000021;
  border-radius: 21px;
}

.div_1 img {
  width: clamp(537px, 53.25vw 737px);
  height: clamp(268px, 26.58vh, 368px);
  box-shadow: 0px 0px 14px #00000021;
  border-radius: 21px;
}
._achievements_img img {
  width: 231px;
  height: 147px;
  background: transparent url("img/1669979048209.png") 0% 0% no-repeat
    padding-box;
  box-shadow: 0px 0px 14px #00000021;
  border-radius: 21px;
}

.div_3,
.div_2 {
  display: flex;
  row-gap: 15px;
  column-gap: 15px;
}

.div_2 {
  flex-direction: column;
}

/* footer section end */

._footer {
  width: 100%;
  height: 543px;
  /* UI Properties */
  padding: 50px 110px;
  background: #003152 0% 0% no-repeat padding-box;
}

._footer_data,
._support {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._address > div,
._support > div {
  display: flex;
  justify-content: space-between;
}

._address div > ul,
._support > div {
  flex-direction: column;
}

._innerflex,
._site_navigation {
  display: flex;
}

._footer_form {
  padding: 48px 22px 25px;
  width: 380px;
  /* height: 322px; */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 12px;
  margin: auto;
}

._footer_form form > input {
  width: 337px;
  height: 37px; /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 6px;
  font: normal normal medium 10px/22px Graphik;
  letter-spacing: 0.4px;
  color: #9c9c9c;
}

form > textarea {
  width: 337px;
  height: 120px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 6px;
}
form > label {
  font: normal normal medium 12px/22px Graphik;
  letter-spacing: 0.43px;
  color: #003152;
}
._footer_form form > button {
  width: 337px;
  height: 34px;
  background: #ff8e2b 0% 0% no-repeat padding-box;
  border-radius: 6px;
}

.Gplay > img {
  width: 185px;
  height: 75px;

  border-radius: 8px;
}

/* footer section end */

@media screen and (max-width: 468px) {
}

@media screen and (max-width: 768px) {
  /* ----achievements start----- */
  section,
  ._head_banner {
    width: 100%;
    padding: 70px 35px;
  }

  ._heading {
    width: 100%;
  }

  .div_2 {
    display: none !important;
  }
  .div_3 {
    overflow-x: scroll;
    width: 924px;
    height: 150px;
  }

  /* ----achievements end----- */
}

@media screen and (max-width: 1268px) {
}

@media screen and (min-width: 1468px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (min-width: 768px) {
}

/* special case */
@media screen and (min-width: 468px) and (max-width: 768px) {
}
